<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
</head>
<body>
    <%- include('partials/navbar') %>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/contact-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Liste des articles</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <%- include('partials/messages') %>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="container py-5">
                        <% for (let i = 0; i < blogposts.length; i++) { %>
                        <div class="post-preview mb-5">
                            <a href="/post/<%= blogposts[i]._id %>">
                            <h2 class="post-title"><%= blogposts[i].title %></h2>
                            <h3 class="post-subtitle"><%= blogposts[i].body %></h3>
                            <img src="<%= blogposts[i].image %>" alt="image" class="img-thumbnail mb-3" style="max-height: 200px;">
                            </a>
                            <% if (blogposts[i].username) { %>
                                <p class="post-meta">Posté par
                                    <a href="#"><%= blogposts[i].username %></a>
                                    le <%= blogposts[i].datePosted.toLocaleDateString('fr-FR', {
                                    weekday: 'long',
                                    year: 'numeric',
                                    month: 'long',
                                    day: 'numeric'
                                    }) %>
                                </p>
                            <% } %>
                            <hr>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        <%- include('partials/footer') %>
    </body>
</html>
